.nav-wrapper {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white;
  
}

.nav-links {
  float: right;
}

.nav-logo-group {
  float: left;
  padding: 15px 0 0 0;
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 125px;
  padding: 5px 0px 5px 10px;

}

.nav-logo-font {
  padding-top: 10px;
}

.nav-logo-font span {
  padding: 0 0 0 5px;
  line-height: 18px;
  text-align: center;
  font-size: 1.6em;
  color: #3D3F96;
  font-family: "Mont-Heavy";
}

.nav-logo-font br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: -5px; /* change this to whatever height you want it */
}

.nav-btn-wrapper {
  padding: 10px 25px;
  font-weight: 600;
  font-size: 16px;
  width: auto;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.nav-btn {
  border: 2px solid #C92C3D;
  z-index: 1;
  color: #C92C3D;
}
.nav-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: #C92C3D;
  transition: all 0.3s ease;
}
.nav-btn:hover {
  color: #fff;
}
.nav-btn:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.nav-btn:active {
  top: 2px;
}

@media screen and (max-width: 1350px) {
    .nav-logo-font {
      font-size: 0.8em;
    }

    .nav-logo-group {
      padding: 5px 0;
    }

    .nav-logo {
      width: 75px;
    }

    .nav-btn {
      border: 2px solid #C92C3D;
      color: #fff;
    }
    .nav-btn:after {
      background: #C92C3D;
    }
    .nav-btn:hover {
      color: #fff;
    }
}

.nav-links ul {
  padding: 0;
  display: flex;
  align-items: center;

}

  .nav-links ul li {
    list-style: none;
    padding: 5px 20px;
  }

  .nav-links ul li a {
    text-decoration: none;
    font-size: 1.4em;
    color: #3D3F96;
    position: relative;
    padding: 5px;
    font-family: "Mont-Heavy";
  }

  .nav-links ul li a:hover {
    color: #C92C3D;
  }

  .nav-links ul li a span:first-child:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #C92C3D;
    border-left: 2px solid #C92C3D;
    transition: .2s;
    opacity: 0;
  }

  .nav-links ul li a span:first-child:after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #C92C3D;
    border-right: 2px solid #C92C3D;
    transition: .2s;
    opacity: 0;
  }
  
  .nav-links ul li a span:last-child:before {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid #C92C3D;
    border-left: 2px solid #C92C3D;
    transition: .2s;
    opacity: 0;
  }

  .nav-links ul li a span:last-child:after {
    content:"";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid #C92C3D;
    border-right: 2px solid #C92C3D;
    transition: .2s;
    opacity: 0; 
  }

  .nav-links ul li a:hover span:first-child:before {
    top: -10px;
    left: -10px;
    opacity: 1;
  }

  .nav-links ul li a:hover span:first-child:after {
    top: -10px;
    right: -10px;
    opacity: 1;
  }
  
  .nav-links ul li a:hover span:last-child:before {
    bottom: -10px;
    left: -10px;
    opacity: 1;
  }

  .nav-links ul li a:hover span:last-child:after {
    bottom: -10px;
    right: -10px;
    opacity: 1;
  }

  /* Active */
  .nav-links ul li a.active {
    color: #C92C3D;
  }

  .nav-links ul li a.active span:first-child:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #C92C3D;
    border-left: 2px solid #C92C3D;
    transition: .2s;
    opacity: 0;
  }

  .nav-links ul li a.active span:first-child:after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #C92C3D;
    border-right: 2px solid #C92C3D;
    transition: .2s;
    opacity: 0;
  }
  
  .nav-links ul li a.active span:last-child:before {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid #C92C3D;
    border-left: 2px solid #C92C3D;
    transition: .2s;
    opacity: 0;
  }

  .nav-links ul li a.active span:last-child:after {
    content:"";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid #C92C3D;
    border-right: 2px solid #C92C3D;
    transition: .2s;
    opacity: 0; 
  }

  .nav-links ul li a.active span:first-child:before {
    top: -10px;
    left: -10px;
    opacity: 1;
  }

  .nav-links ul li a.active span:first-child:after {
    top: -10px;
    right: -10px;
    opacity: 1;
  }
  
  .nav-links ul li a.active span:last-child:before {
    bottom: -10px;
    left: -10px;
    opacity: 1;
  }

  .nav-links ul li a.active span:last-child:after {
    bottom: -10px;
    right: -10px;
    opacity: 1;
  }

  /* MENU STYLES */
  .menu-wrap {
    position: relative;
    top: 0;
    right: 0px;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 18px;
    right: 9px;
    z-index: 2;
    cursor: pointer;
    width: 35px;
    height: 35px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: -14px;
    right: -1px;
    z-index: 1;
    width: 30px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background: white;
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: #444444e5;
    border-radius: 50%;
    width: 250vw;
    height: 250vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    font-family: "Mont-Heavy";
  }
  
  
