/* 
* Pixel sizing 
*/
img.xsmall {
    width: 100%;
    height: auto;
    max-width: 50px;
}

img.small {
    width: 100%;
    height: auto;
    max-width: 100px;
}

img.medium {
    width: 100%;
    height: auto;
    max-width: 150px;
}

img.xmedium {
    width: 100%;
    height: auto;
    max-width: 250px;
}

img.large {
    width: 100%;
    height: auto;
    max-width: 300px;
}

@media screen and (max-width: 900px) {
    img.large {
        width: 100%;
        height: auto;
        max-width: 200px;
    }
}

img.xlarge {
    width: 100%;
    height: auto;
    max-width: 450px;
}

img.xxlarge {
    width: 100%;
    height: auto;
    max-width: 550px;
}

img.large-fit {
    width:  300px;
    height: 300px;
    object-fit:scale-down;
}

/* 
* em sizing
*/
img.xs-em {
    height: 0.75em;
}
img.s-em {
    height: 1em;
}

img.m-em {
    height: 1.25em;
}

img.l-em {
    height: 1.75em;
}

img.xl-em {
    height: 2em;
}

/* Background video */
.bg-media-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bg-media {
    height: auto;
    vertical-align: middle;
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    margin: -5px;
    filter: blur(4px);
} 

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-container iframe  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* White blurred overlay */
.overlay-modal {
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 5px;
    line-height: 1.5;
    max-width: 75%;
    padding: 1rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* For small screens */
@media screen and (max-width: 700px) {
    .overlay-modal {
        max-width: 90%;
    }

    video {
        width: 100vw;
        height: 60vh;
    } 
}
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .overlay-modal {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);  
    }
    .warning {
      display: none;
    }
  }

/* 
* Misc 
*/
.responsive {
    max-width: 100%;
    height: auto;
}
