/*//*/ /*/ Colors /*/ /*//*/
/*
// TODO: you can update all or some of these colors and their declarations throughout the app, but mainly the primary and secondary colors likely

Primary red: #C82127
Secondary blue: #75BEC3

Blue: #4FBFE0
Dark: #3B8FA8
Light: #72CCE6
Xlight: #B9E5F3
xxlight: #DCF2F9

Yellow: #FDBB30
Dark: #BE8C24
Light: #FDC959
Xlight: #FEE4AC
xxlight: #FFF1D6

Pink: #F9BFBC
Dark: #BB8F8D
Light: #FBD9D7
Xlight: #FEF2F2

Red: #E3352B
Dark: #AA2820
Light: #EE8680
Xlight: #F9D7D5

Orange: #FF8533
Dark: #B35026
Light: #FFB685
Xlight: #FFE7D6

Green: #33CC00
Dark: #269900
Light: #8FC981
Xlight: #D6F5CC

Grey: #A1A1A1
Dark: #6B6B6B
Light: #D6D6D6


// TODO: update font and declarations around app

Font: Comfortaa & BuiltTitling

*/
/*//*//*//*//*//*//*//*/

@font-face {
    font-family: "Comfortaa-Light";
    src: url(../fonts/comfortaa/Comfortaa-Light.ttf);
}
@font-face {
    font-family: "Comfortaa-Regular";
    src: url(../fonts/comfortaa/Comfortaa-Regular.ttf);
}
@font-face {
    font-family: "Comfortaa-Medium";
    src: url(../fonts/comfortaa/Comfortaa-Medium.ttf);
}
@font-face {
    font-family: "Comfortaa-SemiBold";
    src: url(../fonts/comfortaa/Comfortaa-SemiBold.ttf);
}
@font-face {
    font-family: "Comfortaa-Bold";
    src: url(../fonts/comfortaa/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: "BuiltTitling-Bold";
    src: url(../fonts/built-titling/built-titling-bd.ttf);
}

.comfortaa-regular {
    font-family: "Comfortaa-Regular" !important;
}

.comfortaa-medium {
    font-family: "Comfortaa-Medium" !important;
}

.comfortaa-bold {
    font-family: "Comfortaa-Bold" !important;
}

/* 
* Heading
*/
h1 {
    position: relative;
    font-size: 3em;
    letter-spacing: 0.04em;
    font-family: "BuiltTitling-Bold";
}

h1:before {
    position: absolute;
    content: "";
    bottom: -20px;
    width: 150px;
    height: 2px;
    background: #C82127;
}


h1.no-line:before {
    width: 0px;
    height: 0px;
    background: none;
}


h2 {
    font-size: 2.5em;
    font-family: "BuiltTitling-Bold";
    letter-spacing: 0.04em;
}

h3 {
    font-size: 1.5em;
    letter-spacing: 0.04em;
    padding: 0px !important;
    margin: 0px !important;
    font-family: "BuiltTitling-Bold";
    word-wrap: break-word !important;
    white-space: normal !important;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 2em;
        letter-spacing: 0.03em;
    }

    h1:before {
        bottom: -10px;
        width: 150px;
        height: 2px;
        background: #C82127;
      }

    h1.no-line:before {
        width: 0px;
        height: 0px;
        background: none;
    }

    h2 {
        font-size: 1.6em;
        letter-spacing: 0.03em;
    }

    h3 {
        font-size: 1em;
        letter-spacing: 0.03em;
    }
}

h4 {
    font-family: "BuiltTitling-Bold";
}

h5 {
    font-family: "BuiltTitling-Bold";
}

/* 
* Body
*/
p {
    font-family: "Comfortaa-Medium" !important;
    line-height: 1.6;
    font-size: 16;
}

a {
    text-decoration: none;
    font-family: "Comfortaa-Medium";
    cursor: pointer;
}

label {
    font-size: 18px;
    
    font-family: "Comfortaa-Bold";
}

b {
    font-family: "Comfortaa-Bold";
}

i {
    font-family: "Comfortaa-Regular";
}

ul,
ol,
li {
    font-family: "Comfortaa-Medium";
    line-height: 1.6;
    font-size: 16;
}

div {
    font-family: "Comfortaa-Medium";
}

span {
    font-family: "Comfortaa-Medium";
}


/* 
* Text size 
*/
.xs-text {
    font-size: 8px !important;
}

.s-text {
    font-size: 12px !important;
}

.ms-text {
    font-size: 14px !important;
}

.m-text {
    font-size: 16px !important;
}

.l-text {
    font-size: 20px !important;
}

.xl-text {
    font-size: 24px !important;
}

/* 
* Text coloring 
*/
.black {
    color: black !important;
}
.white {
    color: white !important;
}

/* Grey */
.dark-grey {
    color: #6B6B6B !important;
}
.grey {
    color: #A1A1A1 !important;
}
.light-grey {
    color: #D6D6D6 !important;
}

/* Blue */
.dark-blue {
    color: #B9E5F3 !important;
}
.blue {
    color: #4FBFE0 !important;
}
.light-blue {
    color: #72CCE6 !important;
}

/* Yellow */
.dark-yellow {
    color: #BE8C24 !important;
}
.yellow {
    color: #FDBB30 !important;
}
.light-yellow {
    color: #FEE4AC !important;
}

/* Green */
.dark-green {
    color: #269900 !important;
}
.green {
    color: #33CC00 !important;
}
.light-green {
    color: #8FC981 !important;
}
.xlight-green {
    color: #ADEB99 !important;
}

/* Red */
.dark-red {
    color: #AA2820 !important;
}
.red {
    color: #FA3C57 !important;
}
.light-red {
    color: #EE8680 !important;
}

/* Orange */
.dark-orange {
    color: #B35026 !important;
}
.orange {
    color: #FF8533 !important;
}
.light-orange {
    color: #FFB685 !important;
}

/* Pink */
.dark-pink{
    color: #BB8F8D !important;
}
.pink {
    color: #F9BFBC !important;
}
.light-pink{
    color: #FBD9D7 !important;
}

/* Hover color */
.text-hover:hover {
    color: #4FBFE0  !important;
    cursor: pointer;
}

.text-hover-red:hover {
    color: #E3352B  !important;
    cursor: pointer;
}

.text-hover-green:hover {
    color: #33CC00  !important;
    cursor: pointer;
}

.text-hover-dark-green:hover {
    color: #269900  !important;
    cursor: pointer;
}

.text-hover-yellow:hover {
    color: #FDBB30  !important;
    cursor: pointer;
}

.text-hover-light-yellow:hover {
    color: #FEE4AC  !important;
    cursor: pointer;
}

.text-hover-pink:hover {
    color: #FF81CC  !important;
    cursor: pointer;
}

/* Misc */
.center-text {
    text-align: center !important; 
}

.anchor {
    font-size: 0;
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
 }

.thick-font {
    font-weight: 900;
}

.semi-thick-font {
    font-weight: 500;
}

.l-icon {
    font-size: 50px !important;
    padding: 10px;
}

.xl-icon {
    font-size: 75px !important;
    padding: 10px;
}

.pre-wrap {
    white-space: pre-wrap;
}





